<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Barn-Cattle Management</title>
    <%- include('partials/meta.ejs')%>
</head>

<body>
    <%- include('partials/navbar.ejs')%>

    <%- include('pages/'+page,{error: error, data: data}) %>

    <%- include('partials/footer.ejs')%>
    <%- include('partials/scripts.ejs')%>
</body>

</html>